@page "/counter"
@using BlazorApp.Shared
@using System.Text.Json;
@using System.Net.Http.Headers;
@inject HttpClient Http;

<div class="menu @(IsOpen ? "open" : "")">Hello</div>

<button @onclick="@AddClass">Add Class</button>

@code {


    private bool IsOpen { get; set; } = true;

    private void AddClass()
    {
        IsOpen = !IsOpen;
    }

}
